
<footer class="footer bg-light py-3 mt-auto">
    <div class="container">
        <a style="text-decoration: none;" class="text-muted" target="_blank"> Brought to you by Team 5</a> 
    </div>
</footer>