<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel</title>
	<link rel = "icon" href = "/img/logo.png" type = "image/x-icon"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>

<div id="first" class="d-flex text-center text-white "> 
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
               
				 <a style="float:left" class="navbar-brand left" href="#">
      				Fuel!
      			</a>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <% if(!currentUser) { %>
                    <a class="nav-link active" href="/login">Login</a>
                    <a class="nav-link active" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
					<!-- <a class="nav-link active" aria-current="page" href="/<%= currentUser.id %>/profile">Profile</a> -->
					<!-- <a class="nav-link active" aria-current="page" href="/profile">Profile</a> -->
					
					<a class="nav-link active" aria-current="page" href="/users/<%= currentUser._id %>/edit"> Edit Profile</a>
					<a class="nav-link active" aria-current="page" href="/quotes/new"> Quote</a>
					<a class="nav-link active" aria-current="page" href="/quotes"> fuel history</a>
                    <% } %>
                </nav>
            </div>
        </header>
	</div>
</div>
	
	
<div>

</div>

	
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>