<% layout('layouts/boilerplate')%>

<center>

	Thank you for visiting our website, please click on the link below to update your profile. 

</center>
<center>

	<a href="/users/<%= currentUser._id %>/edit">Click ME!</a>

</center>